<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.papagiannis.tuberun"
    android:installLocation="auto"
    android:versionCode="9"
    android:versionName="1.2.6" >

    <uses-sdk
        android:maxSdkVersion="17"
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />

    <permission 
        android:name="com.papagiannis.tuberun.READ_MY_DATA"
        android:label="Read TfL static data"
        android:protectionLevel="normal">
    </permission>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".TubeRun"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatusActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatusMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".SelectLineActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_departures" />
        </activity>
        <activity
            android:name=".SelectStationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".SelectBusStationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".DeparturesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".BusDeparturesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Bus Departures"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".NearbyStationsListFragment"
            android:configChanges="keyboardHidden|orientation"
            android:label="Tube Stations Nearby"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".DirectionsMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Directions to "
            android:screenOrientation="nosensor" >
        </activity>
        
        <activity
            android:name=".FavoritesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:label="Favorites"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClaimsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Claims"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".ClaimActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="Underground Claim"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".OysterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".PlanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" > 
<!--             android:permission="android.permission.GLOBAL_SEARCH" > -->
<!-- 			the above line breaks the activity launch in GB             -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".RouteResultsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PartialRouteMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".NearbyStationsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name=".NearbyMapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>
        <activity
            android:name="com.papagiannis.tuberun.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateUnchanged" >
        </activity>

        <provider
            android:name=".TubeMapContentProvider"
            android:authorities="com.papagiannis.tuberun.mapprovider"
            android:exported="false" >
        </provider>
        <provider
            android:name=".StationsProvider"
            android:authorities="com.papagiannis.tuberun.stationsprovider"
            android:exported="true"
            android:permission="com.papagiannis.tuberun.READ_MY_DATA" >
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
             >        </provider>
        <provider
            android:name="com.papagiannis.tuberun.StationsProviderDepartures"
            android:authorities="com.papagiannis.tuberun.stationsproviderdepartures"
            android:exported="true"
            android:readPermission="com.papagiannis.tuberun.READ_MY_DATA" >
            <path-permission
                android:pathPrefix="/search_suggest_query"
                android:readPermission="android.permission.GLOBAL_SEARCH" />
             >
        </provider>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>