<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.papagiannis.tuberun"
    android:versionCode="1"
    android:versionName="1.1.0" >

    <uses-sdk
        android:maxSdkVersion="15"
        android:targetSdkVersion="15"
        android:minSdkVersion="8" />
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
         />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/MyTheme"
         >
        <activity
            android:name=".TubeRun"
            android:label="@string/app_name"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatusActivity"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatusMapActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectLineActivity"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectStationActivity"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectBusStationActivity"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeparturesActivity"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusDeparturesActivity"
            android:label="Bus Departures"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearbyStationsListFragment"
            android:label="Tube Stations Nearby" 
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DirectionsMapActivity"
            android:label="Directions to "
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:label="Favorites"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClaimsActivity"
            android:label="Claims"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClaimActivity"
            android:label="Underground Claim"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OysterActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlanActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouteResultsActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PartialRouteMapActivity"
            android:windowSoftInputMode="stateUnchanged" 
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearbyStationsActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NearbyMapActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:windowSoftInputMode="stateUnchanged"
            android:screenOrientation="nosensor" 
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name=".TubeMapContentProvider"
            android:authorities="com.papagiannis.tuberun.mapprovider" >
        </provider>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>